.parent{
    width: 500px;
    background-color: aqua;
    height: 500px;
}
.child{
    background-color: navy;
    height: 50%;
    width: 50%;
}
.padding{
    background-color: yellow;
    width: 300px;
    height: 300px;
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding: 20px;
}
.twobox{
    background-color: brown;
    /*padding: 20px 40px;*/
    padding:15px,20px,15px,15px ;
    border-width: 5px;
    border-style: ridge;
    border-color: aqua;
    border: 10px ridge black;
    border-radius: 30px;
    border-top-left-radius: 40px;
    border-bottom-right-radius:40px ;

}
