.parent{
    display: flex;
    background-color: yellow;
    height: 500px;
    gap: 10px;
   /* justify-content: start;*/
  /* justify-content: end;*/
  justify-content: center;
 /*justify-content: space-between;*/
 align-items: center;
 /*flex-direction: column;*/
 flex-direction: column-reverse;

}
.child{
    width: 100px;
    height: 100px;
    background-color: red;
}
.box{
    display: flex;
    background-color: aqua;
    height: 500px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: blue;
}