.grid{
    display: grid;
   /* background-color: royalblue;*/
    height: 1000px;
    width: 700px;
    gap: 50px;
    /*grid-template-columns: 100px 100px 100px;
    grid-template-rows: 200px 200px 200px;*/
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,200px);
}
.box{
    background-size: contain;
    width: 200px;
    height: 300px;
    background-image: url("https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp");
}