
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
.image{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1591604466107-ec97de577aff?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YnJpZGUlMjBhbmQlMjBncm9vbXxlbnwwfHwwfHx8MA%3D%3D");
}
.logo{
    color: #ff4444;
    font-size: 24px;
    font-weight: bold;
    justify-content: first baseline;
}
.nav-links{
    display: flex;
    list-style: none;
    justify-content: center;
    justify-items: center;
}
.nav-links li{
    margin-left: 20px;
}
.nav-links a{
    text-decoration: none;

    font-size: 16px;
    transition: 0.3s;
}
.hero{
    height: 100vh;
    background-image: url("")no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   position: relative;

}
.hero-content{
    position: relative;
}
.date{
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color:#ff4444;
    text-transform: uppercase;
}
.names{
    font-size: 60px;
    font-weight: bold;
}
.tagline{
    font-size: 20px;
    margin-top: 10px;
}
.stroy{
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #fff;

}

.stroy h2{
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #222;
    
    
}
.stroy p{
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
    color: #444;
}